body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 0 auto
}

.downsized {
  width: 75%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 2em;
  margin-top: 1em;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}

img {
  display: block;
}

#board {
  position: relative;
  height: 100%;
  width: 400px;
  background-image: url("../images/operation.png");
  background-repeat: no-repeat;
}

p {
  margin: 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Write Your Styles below!!!   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*