* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('img/background.jpeg');
  background-size: 1280px;
  background-repeat: no-repeat;
}

.list {

}

.list > ul {

}

.poster {

}

.poster > img {

}

.show {

}

.show > h3 {

}
