* {
  box-sizing: border-box;
}

body {
  font-size: 50px;
  font-family: 'Helvetica';
}

.calculator-body {
  margin: 100px auto;
  height: 500px;
  width: 400px;
  background-color: rgb(0,0,0);
  display: flex;
  flex-flow: wrap;
  border-radius: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 18%;
  margin: 1%;
  background-color: rgb(207,208,212);
  border-radius: 1rem;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 73%;
  height: 18%;
  margin: 1%;
  padding-right: 2rem;
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
  border-radius: 1rem;
}

.operator {
  color: rgb(255,255,255);
  background-color: rgb(251,122,30);
}

.evaluate {

}
