#square1{
  background-color: #F00;
  height: 100px;
  width: 100px;
  top: 0;
  left: 60px;
  position: relative;
  color: white;
}

#square2{
 position: fixed;
 width: 100%;
 height:100px;
 background-color: blue;
 top: 0;
 left: 0;
}

#square3{
  background-color: green;
  height: 100px;
  width: 100px;
  top: 0;
  right: 0;
  fla
}

p{
  margin: .25em auto;
}

#container{
  background-color: #aaa;
  height: 500px;
  position: static;
}
